@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--nav-color: #eb4d27;
	--beige-color: #fff5f0;
	--grey-color: #f0f0f0;
}

h1,
h2,
h3,
h4,
a {
	font-family: 'Archivo', sans-serif;
	letter-spacing: 0.1ch;
}

h1 {
	font-weight: 600;
	font-size: clamp(4rem, 3.7143rem + 1.219vw, 6rem);
	word-wrap: break-word;
	margin-block: 2rem;
}

h2 {
	font-size: clamp(1.8rem, 1.5714rem + 0.9752vw, 3.4rem);
	font-weight: 500;
}

h3 {
	font-size: clamp(1rem, 0.8857rem + 0.4876vw, 1.8rem);
	font-weight: 300;
}

h4 {
	font-size: clamp(0.8rem, 0.7143rem + 0.3657vw, 1.4rem);
	font-weight: 300;
}

p,
li {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: clamp(0.8rem, 0.7429rem + 0.2438vw, 1.2rem);
	letter-spacing: 0.1ch;
}

button {
	border: solid 1px var(--nav-color);
	height: 100px;
	width: 100px;
	border-radius: 50%;
	font-size: 12px;
}

button:hover {
	background-color: var(--nav-color);
	color: white;
}

main {
	margin-bottom: 8rem;
}

section {
	margin-inline: 0.5rem;
}

a {
	color: var(--nav-color);
}

body {
	cursor: url(/src/img/cursor.svg), auto;
}

a:hover {
	cursor: url(/src/img/hover.svg), auto;
}
