@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--nav-color: #eb4d27;
	--beige-color: #fff5f0;
}

h1,
h2,
h3,
h4,
a {
	font-family: 'Archivo', sans-serif;
	letter-spacing: 0.1ch;
}

h1 {
	font-weight: 600;
	font-size: 100px;
	word-wrap: break-word;
	margin-block: 2rem;
}

main {
	margin-bottom: 10rem;
	/* max-width: 1000px;
	margin-left: auto;
	margin-right: auto; */
}

body {
	cursor: url(/src/img/cursor.svg), auto;
}

a:hover {
	cursor: url(/src/img/hover.svg), auto;
}
